.homeContainer{
    display: -webkit-flex;
    height: 100%;
    width: 100%;
    @media screen and (max-width: 770px){
        flex-direction: column;
    }
    .bannerContainer{
        display: -webkit-flex;
        position: relative;
        flex-direction: column;
        align-content: center;
        background-color: none;
        .welcomeTextContainer{
            display: -webkit-flex;
            flex-direction: row;
            position: absolute;
            color: white;
            z-index: 1;
            .welcomeText-enter{
                opacity: 0;
            }
            .welcomeText-enter-active{
                opacity: 1;
                transition: opacity 1000ms;
            }
            .welcomeText-exit{
                opacity: 1;
            }
            .welcomeText-exit-active{
                opacity: 0;
                transition: opacity 1000ms;
            }
            @media screen and (min-width: 740px){
                padding-top: 30%;
                align-self: center;
            }
            @media screen and (max-width: 740px){
                padding-top: 40%;
                align-self: center;

            }
        }    
        .profilePic{
            padding-top: 3%;
            height: 420px;
        }
        @media screen and (min-width: 740px){
            margin-left: 10%;
            align-items: left;
        }
        @media screen and (max-width: 740px){
            overflow: hidden;
            align-items: center;
            flex-direction: column;
        }
    }
    .homeTextContainer{
        padding: 5% 10%;
        .introText{
            font-size: 20px;
        }
    }
}

