.thomasNavbar{
    color: orange !important;
    @media screen and (min-width: 740px){
        align-items: center;
    }
    display: inline;
	.nav-link {
		margin-left: 20px;
		margin-right: 20px;
	}
}
