.projectContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #efefef;

    .introContainer{
        padding: 3% 10% 0% 10%;
    }
    .timelineContainer{
        width: 100%;
        padding-right: 30%;
    }    
}